@rendermode InteractiveWebAssembly

<p class="headercontentchild">@currentDateTime</p>

@code {
    private string currentDateTime = DateTime.Now.ToString("ddd HH:mm:ss dd/MM/yyyy");

    protected override Task OnInitializedAsync()
    {
        Task.Run(async () =>
        {
            while (true)
            {
                await Task.Delay(TimeSpan.FromSeconds(1));
                currentDateTime = DateTime.Now.ToString("ddd HH:mm:ss dd/MM/yyyy");
                StateHasChanged();
            }
        });

        return Task.CompletedTask;
    }
}
    
    

