<div id="headercontent">

    <Cryotea.com.Client.Pages.PageChanger/>
    <h1 class="color1 headercontentchild">
    <span><a class="color1" href=100>Cryotea.com</a></span>
    </h1>
    <Cryotea.com.Client.Pages.CurrentTime/>
</div>


@code {

}
