@font-face {
    font-family: 'Teletextfont' ;
    src: url('fonts/EuropeanTeletext.ttf') format(truetype);
}
* {font-family: 'Teletextfont' ;}
   
#headercontent {
    background-color:rgb(71, 71, 71) ;
    color: white;
    display: flex;
    gap: 20px;
    text-align: center; 
    justify-content: center;
    margin: 0; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box;
    font-size:large; 
    align-items: baseline;
}

.headercontentchild{
    
}

h1{
    font-size:large;
}