<div id="headercontent">

    <Cryotea.com.Client.Pages.PageChanger/>
    <h1 class="color1 headercontentchild">
    Cryotea.com
    </h1>
    <Cryotea.com.Client.Pages.CurrentTime/>
</div>


@code {

}
