@page "/"
@page "/100"

<div>
    <div id="top"> 
        <p id="text1">Willkomen auf meiner Website! Hier findet ihr information über mich und viel cooles Zeug!</p>
        <p id="text2">Auf Seitennummer <span><a class="color2" href=101>101</a></span> geht es zu meinen Links!</p>
    </div>

    <div id="bottem">
        <div id="text3">
            <p><span class="c1">T</span><span class="c2">r</span><span class="c3">a</span><span class="c2">n</span><span class="c1">s</span> rights!</p>
            <p><span class="c4">N</span><span class="c5">o</span><span class="c5">n</span><span class="c6">-</span><span class="c7">b</span><span class="c7">i</span><span class="c6">n</span><span class="c5">a</span><span class="c5">r</span><span class="c4">y</span> rights!</p>
            <p><span class="c1">L</span><span class="c2">e</span><span class="c3">a</span>❤<span class="c4">T</span><span class="c5">e</span><span class="c6">d</span><span class="c6">d</span><span class="c7">y</span>!</p>
        </div>    
        <p id="text4">yo !</p>
    </div>
</div>