@page "/"
@page "/100"

<div>
    <div id="top"> 
        <p id="text1">Willkomen auf meiner Website! Hier findet ihr information über mich und viel cooles Zeug!</p>
        <p id="text2">Auf Seitennummer <span><a class="color2" href=links.html>101</a></span> geht es zu meinen Links!</p>
    </div>

    <div id="bottem">
        <p id="text3"><span class="c1">T</span><span class="c2">r</span><span class="c3">a</span><span class="c4">n</span><span class="c5">s</span> rights!</p>
        <p id="text4">yo !</p>
    </div>
</div>