@page "/links"
@page "/101"
<div>
    <div id="top">
        <p id="text1">Hallo! Das hier sind all meine Links und so. </p>
        <div id="text2">
            <div>
                <a id="colorYT" href="https://www.youtube.com/channel/UC-gKcJKPl9CGDHtxXnDQUVQ">Youtube!</a>
                <a id="colorTwitch" href="https://www.twitch.tv/cryotea">Twitch! </a>
            </div>
            <a id="colorGithub" href="https://github.com/Cryotea">Github!</a>
        </div>

    </div>

    <div id="bottom">
        <p id="text3"></p>
        <p id="text4"></p>
    </div>
</div>
@code {

}
